[submodule "afkit"]
	path = afkit
	url = https://github.com/RogerLevy/afkit
[submodule "ramen"]
	path = ramen
	url = https://github.com/RogerLevy/ramen
[submodule "ws"]
	path = ws
	url = https://github.com/RogerLevy/ws.git
